.st0{clip-path:url(#SVGID_00000093855312103565094820000001525329791926181523_);}
.st1{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#895A56;enable-background:new;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.5822;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.3564;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.7267;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.6634;}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.5287;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.6119;}
.st8{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#748B05;fill-opacity:0.804;enable-background:new;}
.st9{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#C6D193;fill-opacity:0.804;enable-background:new;}
.st10{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#64B4C8;fill-opacity:0.4;enable-background:new;}
.st11{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#148700;fill-opacity:0.9188;enable-background:new;}
.st12{opacity:0.9933;fill:none;stroke:#890000;stroke-width:0.8519;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st13{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#FEFEFF;stroke:#464646;stroke-width:1.9843;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;stroke-opacity:0.996;enable-background:new;}
.st14{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#A66B19;fill-opacity:0.9434;stroke:#A96B1E;stroke-width:1.9885;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;stroke-opacity:0.996;enable-background:new;}
.st15{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#FEFEFF;stroke:#ECEBED;stroke-width:5.672;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st16{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill-opacity:0.9904;stroke:#464646;stroke-width:2.8272;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st17{fill-rule:evenodd;clip-rule:evenodd;fill:#A7382B;fill-opacity:0.996;}
.st18{opacity:0.9933;fill:none;stroke:#6D1A1A;stroke-width:0.8504;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st19{opacity:0.9933;fill:none;stroke:#6D1A1A;stroke-width:0.856;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st20{opacity:0.9933;fill:none;stroke:#6D1A1A;stroke-width:0.8519;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st21{opacity:0.9933;fill:none;stroke:#BD6161;stroke-width:0.3685;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st22{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.9961;}
.st23{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.5901;}
.st24{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.5624;}
.st25{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill-opacity:0.9904;stroke:#464646;stroke-width:2.8346;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st26{opacity:0.9933;fill:none;stroke:#6D1A1A;stroke-width:0.8561;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st27{fill-rule:evenodd;clip-rule:evenodd;fill:#C46A51;}
.st28{opacity:0.9933;fill:none;stroke:#DC947F;stroke-width:1.0772;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st29{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#742B16;fill-opacity:0.3307;enable-background:new;}
.st30{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#742B16;fill-opacity:0.398;enable-background:new;}
.st31{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;fill-opacity:0.398;enable-background:new;}
.st32{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;fill-opacity:0.3307;enable-background:new;}
.st33{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#A05742;fill-opacity:0.4178;enable-background:new;}
.st34{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.7485;}
.st35{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.7406;}
.st36{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.4911;}
.st37{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.6356;}
.st38{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.7465;}
.st39{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.7723;}
.st40{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.6475;}
.st41{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.6554;}
.st42{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.5267;}
.st43{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.701;}
.st44{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.6871;}
.st45{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.5663;}
.st46{fill-rule:evenodd;clip-rule:evenodd;fill:#EF4F29;}
.st47{fill-rule:evenodd;clip-rule:evenodd;fill:#62403D;fill-opacity:0.703;}
.st48{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#CA6400;enable-background:new;}
.st49{fill-rule:evenodd;clip-rule:evenodd;fill:#EEEEEC;}
.st50{fill-rule:evenodd;clip-rule:evenodd;fill:#888A85;fill-opacity:0.4891;}
.st51{fill-rule:evenodd;clip-rule:evenodd;fill:#888A85;}
.st52{fill-rule:evenodd;clip-rule:evenodd;fill:#555753;fill-opacity:0.4554;}
.st53{fill-rule:evenodd;clip-rule:evenodd;fill:#555753;}
.st54{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#6E6E6D;fill-opacity:0.7723;enable-background:new;}
.st55{fill-rule:evenodd;clip-rule:evenodd;fill:#7F2E1B;}
.st56{fill-rule:evenodd;clip-rule:evenodd;fill:#B13A1E;}
.st57{fill-rule:evenodd;clip-rule:evenodd;fill:#E27055;}
.st58{fill-rule:evenodd;clip-rule:evenodd;fill:#E29785;}
.st59{fill-rule:evenodd;clip-rule:evenodd;fill:#E2A697;}
.st60{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#35325E;enable-background:new;}
.st61{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#38365E;enable-background:new;}
.st62{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#3B3962;enable-background:new;}
.st63{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#3A3861;enable-background:new;}
.st64{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#4F4D85;enable-background:new;}
.st65{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#3E3D69;enable-background:new;}
.st66{fill-rule:evenodd;clip-rule:evenodd;fill:#ABAFA7;fill-opacity:0.5703;stroke:#525350;stroke-width:8.503936e-02;stroke-miterlimit:11.3386;}
.st67{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#D7DCD2;fill-opacity:0.5703;enable-background:new;}
.st68{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#2F2F2E;fill-opacity:0.4851;enable-background:new;}
.st69{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#1BB400;fill-opacity:0.9188;enable-background:new;}
.st70{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#CAB5A0;stroke:#FDFDFD;stroke-width:0.7087;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;stroke-opacity:0.3782;enable-background:new;}
.st71{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#84490E;fill-opacity:0.3188;enable-background:new;}
.st72{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#9D7C4A;fill-opacity:0.996;enable-background:new;}
.st73{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#709A49;fill-opacity:0.996;enable-background:new;}
.st74{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#91C75E;fill-opacity:0.697;enable-background:new;}
.st75{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#91C75E;fill-opacity:0.8;enable-background:new;}
.st76{opacity:0.9933;fill:none;stroke:#323232;stroke-width:3.5433;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;stroke-opacity:0.8431;enable-background:new;}
.st77{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;fill-opacity:0.804;stroke:#323232;stroke-width:1.5591;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;stroke-opacity:0.8431;enable-background:new;}
.st78{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#010101;fill-opacity:0.996;enable-background:new;}
.st79{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#F57900;fill-opacity:0.996;enable-background:new;}
.st80{fill-rule:evenodd;clip-rule:evenodd;fill:#2E3436;fill-opacity:0.6455;}
.st81{fill-rule:evenodd;clip-rule:evenodd;fill:#91641C;fill-opacity:0.9604;}
.st82{fill:#FF8C00;}
.st83{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#8F5902;fill-opacity:0.998;stroke:#020202;stroke-width:0.8504;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st84{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#CDB48C;fill-opacity:0.6059;enable-background:new;}
.st85{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#473E30;fill-opacity:0.6059;enable-background:new;}
.st86{opacity:0.9933;fill:none;stroke:#505050;stroke-width:0.5669;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;stroke-opacity:0.7584;}
.st87,.st88,.st89,.st90,.st91,.st92,.st93,.st94,.st95,.st96,.st97,.st98,.st99,.st100,.st101,.st102,.st103{transition: 0.25s;clip-rule:evenodd;fill:#FF8C00;fill-opacity:0;stroke:#464646;stroke-width:2.8368;stroke-miterlimit:10;}
.st104{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#A40000;fill-opacity:0;stroke:#A40000;stroke-width:7.6535;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st105{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill-opacity:0;stroke:#A40000;stroke-width:7.6535;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:11.3386;enable-background:new;}
.st106{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#336404;fill-opacity:0.5366;enable-background:new;}
.st107{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#336404;fill-opacity:0.9881;enable-background:new;}
.st108{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#5E881E;fill-opacity:0.9881;enable-background:new;}
.st109{opacity:0.9933;fill-rule:evenodd;clip-rule:evenodd;fill:#547A1B;fill-opacity:0.9881;enable-background:new;}
.st110{fill:#FCE94F;stroke:#FCE94F;stroke-width:0.75;stroke-miterlimit:11.3386;}
.st111{font-size:12px;}

.st87:hover,
.st89:hover,
.st90:hover,
.st91:hover,
.st92:hover,
.st93:hover,
.st94:hover,
.st95:hover,
.st96:hover,
.st97:hover,
.st98:hover,
.st99:hover,
.st100:hover,
.st101:hover,
.st102:hover,
.st103:hover {
    transition: 0.5s;
    fill: #FF8C00 !important;
    fill-opacity: 1 !important;
}

/* Partykeller */
/* Treppe */
/* Garten */
/* Werkstatt */
/* Garderobe */
/* Boulderwand */
/* Wohnzimmer */
/* Essküche */
/* Schlafzimmer */
/* Bad */
/* Fitnessraum */
/* Arbeitszimmer */
/* Krativer_Freiraum */
/* Spielzimmer */
/* Musikzimmer */
/* Atelier */
/* Dachkapelle */